body {
	font-family: 'Open Sans', sans-serif;
}
.main-header {
	display: inline-flex;
	flex-direction: row;
}

.main-header > h3 {
	margin-left: 3%;
}
.main-logo {
	max-height: 100px;
	max-width: auto;
}

.book-icon {
	width: 3vw;
	height: auto;
	max-height: 4vw;
}
.author-icon {
	width: 5vw;
	height: auto;
	max-height: 5vw;
}

.author-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.book-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.book-template-description {
	text-indent: 2em;
}

.book-template-options {
	display: inline-flex;
}

.book-template-details-edit {
	width: 50%;
	height: auto;
	text-align: center;
}
.book-template-details-remove {
	width: 50%;
	height: auto;
	text-align: center;
}

.book-genre {
	font-style: italic;
	font-size: .8em;
}

a {
	color: inherit;
	text-decoration: none;
}
.book-template-cover {
	/*max-width: 10vw;
	max-height: auto;*/
	width: 100%;
	height: auto;
}

.book-authors-container {
	margin-top: 40px;
	/*width: 28vw;*/
	100%;
	height: 75px;
	overflow-y: scroll;
}

.add-book-author-button {
	font-size: 2.5em;
	cursor: pointer;
}

.add-book-author-button:hover {
	font-size: 2.6em;
}

.delete-book-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.book-authors-container > div {
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	align-items: center;
}

.book-authors-container > div > i:hover {
	font-size: 1.1em;
	color: red;
}

.book-authors-container > div > p {
	margin: 0 0 0 5px;
	padding: 0;
}

.author-template-books-header {
	font-size: 1.3em;
}

.library {
	max-width: 48vw;
	height: auto;
}
.author {
	max-width: 48vw;
	height: auto;
}
